@import '../../styles.scss';

.container, .container-none {
    display: flex;
    width: 100vw;
    padding-left: 100px;
    min-width: 620px;

    .about-section, .landing {
        height: 100vh;
        display: flexbox;
        position: relative;
        padding: 50px;
        float: right;

        .image {
            display: flex;
            float: right;
            justify-content: center;
            vertical-align: middle;
            padding: 25px;

            img {
                max-width:100%;
                max-height:100%;
            }
        }
    
        .content {
            padding: 45px;
            float: right;
            min-width: 250px;

            .small-title {
                font-family: Gowun Dodum;
                color: $primary-green;
                font-size: 20px;
            }

            .associates {
                display: flexbox;
                margin-top: 35px;

                img {
                    height: 3.8em;
                    margin-right: 13px;
                }
            }

            .about-initial {
                margin-top: 35px;
                text-align: justify;

                span {
                    font-family: Gowun Dodum;
                    font-size: 20px;
                    color: $secondary-green;
                    text-align: justify;
                }
            }

            .hobbies, .curriculum {
                margin-top: 35px;
                text-align: justify;

                .hobbies-title, .curriculum-title {
                    color: #efefef;
                    font-family: Gowun Dodum;
                    font-size: 50px;
                }

                .hobbies-description {
                    color: $secondary-green;
                    font-family: Gowun Dodum;
                    font-size: 20px;
                }
            }

            .vitae-title {

            }

            .vitate-subtitle {

            }
        }
    }
}

.container-none {
    display: flex;
    width: 100vw;
    padding-left: 100px;
}
