/* You can add global styles to this file, and also import other style files */

// Global variables

$primary-bg: #233142;
$secondary-bg: #151E29;
$primary-green: #00FEB1;
$secondary-green: #A9BBC3;
$primary-white: #FFFFFF;

.row.column{
    margin-left: -150px !important;
}