<div class="row column">
    <div [class]="(shouldDisplaySideNav) ? 'col-md-12 container' : 'col-md-12 container-none'">
        <div class="col-md-12 landing">
            <div class="col-md-6 image">
                <img src="../../assets/marco-surf-blob.png">
            </div>
            <div class="col-md-6 content">
                <div [class]="(shouldDisplaySideNav) ? 'definition-initial' : 'definition-initial-none'">
                    <span style="color: #00FEB1;"><u>Hello! I am Marcus, and I am a...</u></span>
                    <br><br>
                    <span class="definition-title">software engineer:</span>
                    <br>
                    <div>
                        <span style="float: left;">[sôftwer enjəˈnir]</span>
                        <span style="float: right;">noun</span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <span>1. The application of engineering principles to ideate, design, develop, maintain, and evaluate software.</span>
                    <br><br>
                    <span>2. A badass who solves problems you didn’t know you had.</span>
                </div>
            </div>
        </div>
    </div>
</div>